.q12{
    width: 895px;
color: var(--black, #303031);
text-align: center;
font-family: Bely Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 133.333% */
position: absolute;
left:300px;
}
.w12{
    position: relative;
}
.q22{
    width: 895px;
    color: var(--black, #303031);
text-align: center;
font-family: Proxima Nova;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
position: absolute;
bottom: -175px;
left:300px;
}
.w22{
    margin-left: auto;
  margin-right: auto;
    column-count: 3;
  column-gap: 40px;
  position: absolute;
  bottom: 200px;
  left: 70px;
}
.q32{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.q42{
    color: var(--black, #303031);
text-align: center;
font-family: Proxima Nova;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}
.q52{
    color: var(--black, #303031);
text-align: center;
font-family: Proxima Nova;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}
.w32{
    width: 427px;
height: 340px;
flex-shrink: 0;
border-radius: 8px;
background: var(--white, #FFF);
box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
}